.taskBoard {
  color: var(--black);
  background-color: var(--white);
  border-radius: 10px;
  padding: 2.5rem 2.5rem;
  margin: 3rem;
  max-width: 450px;
  min-height: 70vh;
}

.taskHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btnNewTask {
  background-color: var(--purple-300);
  border: none;
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.4rem 0.7rem;
  transform: 300ms;
}

.btnNewTask:hover {
  opacity: 0.5;
}

.btnIcon {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(199deg)
    brightness(103%) contrast(101%);
  height: 0.6rem;
  width: auto;
}
