:root {
  --white: #fff;
  --black: #000;
  --grey-600: rgb(82 82 91);
  --purple-300: #9666d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--purple-300);
  display: flex;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
}

body,
inpout,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
