body {
  background-color: #9666d9;
  display: flex;
  justify-content: center;
}

.taskBoard {
  color: #000;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.75rem 2.5rem;
  margin: 3rem;
  max-width: 450px;
  min-height: 70vh;
}
